<?xml version="1.0"?>
<config>
    <modules>
        <SM_Product>
            <version>0.0.1</version>
        </SM_Product>
    </modules>

    <global>
        <models>
            <xproduct>
                <class>SM_Product_Model</class>
            </xproduct>
        </models>
        <helpers>
            <xproduct>
                <class>SM_Product_Helper</class>
            </xproduct>
        </helpers>
        <blocks>
            <xproduct>
                <class>SM_Product_Block</class>
            </xproduct>
        </blocks>
    </global>
</config>
