<?xml version="1.0"?>
<config>
    <modules>
        <SM_XRetail>0.0.1</SM_XRetail>
    </modules>
    <global>
        <helpers>
            <xretail>
                <class>SM_XRetail_Helper</class>
            </xretail>
        </helpers>
        <blocks>
            <xretail>
                <class>SM_XRetail_Block</class>
            </xretail>
        </blocks>
        <models>
            <xretail>
                <class>SM_XRetail_Model</class>
            </xretail>
        </models>
        <events>
            <rest_api_before>
                <observers>
                    <rest_api_before>
                        <type>model</type>
                        <class>SM_XRetail_Model_Observer_ApiControllerBefore</class>
                        <method>checkPath</method>
                    </rest_api_before>
                </observers>
            </rest_api_before>
        </events>
    </global>

    <frontend>
        <routers>
            <xretailapi>
                <use>standard</use>
                <args>
                    <module>SM_XRetail</module>
                    <frontName>xrest</frontName>
                </args>
            </xretailapi>
        </routers>
    </frontend>

    <apirouters>
        <router>
            <!--Product-->
            <xproduct>
                <method>Get</method>
                <service>xproduct/ProductManagement</service>
                <function>getProductData</function>
            </xproduct>
            <!--Customer-->
            <xcustomer>
                <method>Get</method>
                <service>xcustomer/CustomerManagement</service>
                <function>getCustomerData</function>
            </xcustomer>
            <store>
                <method>Get</method>
                <service>xstore/StoreManagement</service>
                <function>getStoreData</function>
            </store>
            <tax-rates>
                <method>Get</method>
                <service>xtax/TaxManagement</service>
                <function>getTaxRatesData</function>
            </tax-rates>
            <xsetting>
                <method>Get</method>
                <service>xsetting/SettingManagement</service>
                <function>getSettingData</function>
            </xsetting>

            <xcategory>
                <method>Get</method>
                <service>xcategory/CategoryManagement</service>
                <function>getCategoryData</function>
            </xcategory>

            <xreport>
                <method>GET</method>
                <service>xreport/ViewHistory</service>
                <function>getOrderHistory</function>
            </xreport>
            <xreport-detail>
                <method>GET</method>
                <service>xreport/ViewDetail</service>
                <function>getOrderDetail</function>
            </xreport-detail>
        </router>
    </apirouters>
</config>